<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Personal blog from Dennis ten Hoove">
    <meta name="keywords" content="blog, IT, ICT, Linux, technology, computers, hardware, software">
    <meta name="author" content="Dennis ten Hoove">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="blog.dennistenhoove.nl">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Dennis ten Hoove personal blog">
    <meta property="og:description" content="This is my personal blog, here I will post updates on cool projects I a working on and just speak my mind on something I might be thinking about.">
    <meta property="og:image" content="https://blog.dennistenhoove.nl/og_logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <title>Blog</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header>
      <div>
        <div class="header_left">
          <h3>Dennis ten Hoove</h3>
        </div>
        <div class="header_right">
          <a href="/">Home</a>
          <a href="/posts">Posts</a>
          <a href="/projects">Projects</a>
          <a href="/login">Login</a>
        </div>
      </div>
    </header>
