<%- include("partials/header.ejs") %>

<div class="content">
  <div class="jumbotron" id="main_jumbo">
    <div id="jumbo_btn_left">
      <span> < </span>
    </div>
    <div id="jumbo_btn_right">
      <span> > </span>
    </div>
  </div>
  <div class="posts">

  </div>
</div>
<script src="/jumbo.js" charset="utf-8"></script>

<%- include("partials/footer.ejs") %>
