<%- include("partials/header.ejs") %>

<div class="content">
  <div class="jumbotron">
    <div class="jumbo_btn_left">
      <span> < </span>
    </div>
    <div class="jumbo_btn_right">
      <span> > </span>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
