<%- include("partials/header.ejs") %>

<div class="content">
  <div id="login_container">
    <h3>Login</h3>
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username" autocomplete="off" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" name="acc_send" value="Login!">
      </form>

      <p id="create_acc_link">Don't have an account? <span><a href="/register">Create one!</a></span></p>
      <% if (messages) { %>
        <p class="panic_error"><%= messages %></p>
      <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>
