<%- include("partials/header.ejs") %>

<div class="content">
  <div id="login_container">
    <h3>New project</h3>
      <form action="/newproject" method="POST">
        <input type="text" name="name" placeholder="name" autocomplete="off" required>
        <input type="text" name="title" placeholder="title" autocomplete="off" required>
        <textarea type="text" name="post" placeholder="Your awesome project" required></textarea>
        <input type="url" name="link" placeholder="link (Optional)" autocomplete="off">
        <input type="text" name="image" placeholder="image link (Optional)" autocomplete="off" list="images_list">
        <input type="submit" name="post_send" value="Post!">
      </form>

      <datalist id="images_list">
        <option value="/images/placeholder_1.jpg">
        <option value="/images/placeholder_2.jpg">
        <option value="/images/placeholder_3.jpg">
      </datalist>
  </div>
</div>

<%- include("partials/footer.ejs") %>
