<%- include("partials/header.ejs") %>

<div class="content">
  <div id="login_container">
    <h3>Login</h3>
      <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="username" autocomplete="off" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" name="acc_send" value="Login!">
      </form>
  </div>
</div>

<%- include("partials/footer.ejs") %>
