@font-face {
  font-family: "DejaVuSerif";
  font-weight: normal;
  src: url("/fonts/DejaVuSerif.ttf");
}

@font-face {
  font-family: "DejaVuSerif-Bold";
  font-weight: bold;
  src: url("/fonts/DejaVuSerif-Bold.ttf");
}

/* @font-face {
  font-family: "DejaVuSerif-Italic";
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/DejaVuSerif-Italic.ttf");
} */

/* Font config */
h1, h2, h3, h4, h5, th  {
  font-family: "DejaVuSerif-Bold";
}

p, a, span, ul, td {
  font-family: "DejaVuSerif";
}

body {
  min-width: 500px;
  margin: 0;
  padding-bottom: 25px;
  background-color: white;
}

/* Header */
header {
  height: 4em;
  max-width: 1280px;
  margin: auto;
}

.header_right a, .header_left a {
  text-decoration: none;
  color: #a8a8a8;
  margin-right: 25px;
  font-size: 1.20em;
}

.header_right a:hover, .header_left a:hover {
  color: rgba(50, 50, 50);
  text-decoration: underline;
}

.header_right a:nth-child(4) {
  color: rgba(195, 195, 195);
  font-style: italic;
  box-shadow: 1px 0px 5px #a8a8a8;
  padding: 5px 8px 5px 8px;
}

.header_right a:nth-child(4):hover {
  color: white;
  background-color: #a8a8a8;
  text-decoration: none;
}

.header_left h3 {
  margin: 0;
  padding-left: 25px;
}

.header_right, .header_left {
  height: 100%;
  padding-top: 1.25em;
}

.header_left {
  float: left;
  width: 45%;
}

.header_right {
  float: right;
  width: 55%;
  text-align: right;
}

.content {
  max-width: 1280px;
  margin: auto;
}

/* Jumbo */
.jumbotron {
  background-image: url(/images/placeholder_1.jpg);
  height: 10em;
  width: 1280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  color: white;
  font-size: 5em;
  user-select: none;
}

/* Overall */
input[type=submit] {
  cursor: pointer;
}

.message {
  background-color: rgba(238, 238, 238, 0.3);
  padding: 30px 0 30px 0;
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

/* Error page */
#error_message {
  width: 700px;
  margin: auto;
}

/* Home */
.home_content {
  width: 100%;
}

.home_article {
  width: 46%;
  display: inline-block;
  padding: 2%;
}

.home_article:nth-child(2) {
  float: right;
}

.home_h3 {
  padding-left: 2%;
}

.seperate_color {
  background-color: rgba(238, 238, 238, 0.3);
  padding: 30px 0 30px 0;
  width: 100%;
}

.seperate_color .post {
  margin: 0 auto 0 auto;
}

/* login */
#login_container {
  padding: 50px 0 0 75px;
  max-width: 400px;
}

#login_container form input[type=text], #login_container form input[type=password], #login_container form input[type=url]  {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  padding: 7px 0 7px 0;
}

#login_container form input[type=submit] {
  margin-top: 12px;
  float: right;
  border: 1px solid #eee;
  padding: 10px 15px 10px 15px;
}

#jumbo_btn_left {
  text-align: left;
  float: left;
}

#jumbo_btn_right {
  text-align: right;
  float: right;
}

#jumbo_btn_left, #jumbo_btn_right {
  margin-top: 4em;
  width: 1em;
  color: rgba(255, 255, 255, 0.3);
}

#jumbo_btn_left:hover, #jumbo_btn_right:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.notice {
  margin-top: 100px;
}

.panic_error {
  color: red;
  font-weight: bold;
}

/* Create account */
#create_acc_link {
  margin-top: 1.25em;
}

/* posts */
.post {
  width: 675px;
  margin: auto;
  padding: 25px;
  margin-top: 50px;
  box-shadow: 0px 0px 5px 2px #eee;
  border-radius: 10px;
  background-color: white;
}

.post_hover:hover {
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.45);
}

.post_hover_no_color:hover {
  cursor: pointer;
}

.post table {
  width: 100%;
}

.post img {
  width: 80%;
  display: block;
  margin: 0 auto 15px auto;
}

.info_table tr th:nth-child(1) {
  text-align: left;
}

.info_table tr th:nth-child(2) {
  text-align: right;
}

.info_table tr:nth-child(2) th {
  padding: 30px 40px 0 40px;
  font-weight: bold;
}

.post_table tr:nth-child(1) td {
  padding: 15px 40px 40px 40px;
}

.post_container_div_image {
  margin: 0 0 40px 40px;
}

.post_container_div {
  margin: 0 0 15px 40px;
}

.post hr {
  border: 0;
  border-top: 1px solid #eee;
  width: 88%;
}

#new_post_container {
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

#new_post_link {
  border: 1px solid #eee;
  padding: 10px;
  box-shadow: 1px 0px 2px #a8a8a8;
  border-radius: 4px;
  text-decoration: none;
  color: rgba(195, 195, 195);
  background-color: white;
}

#new_post_link:hover {
  background-color: #a8a8a8;
  border: 0;
  box-shadow: 1px 0px 5px #a8a8a8;
  color: white;
}

/* Show post */
#edit_div_container {
  height: 1.5em;
  margin-bottom: 10px
}

#edit_button_div {
  height: 2.70em;
  width: 100px;
  float: right;
}

.edit_button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #eee;
  height: 100%;
  width: 45%;
  box-shadow: 0px 0px 4px 1px #eee;
  cursor: pointer;
  background: url("/images/edit.png") no-repeat;
  background-size: 65%;
  background-position: center center;
}

.edit_button:nth-child(2) {
  background: url("/images/delete.png") no-repeat;
  background-size: 65%;
  background-position: center center;
}

.edit_button:hover {
  background-color: rgba(245, 245, 245, 0.9);
}

.edit_icon {
  width: 20px;
  height: auto;
}

/* Post page */
textarea {
  height: 10em;
  width: 100%;
  resize: none;
  border: 0;
  border-bottom: 1px solid #eee;
  margin-top: 15px;
}

/* Edit page */
#delete_button {
  background-color: red;
  float: left !important;
  color: white;
}

#delete_button:hover {
  background-color: #db0000;
}

/* Responsive stuff */
@media screen and (max-width: 1280px) {
  .jumbotron {
    width: 100%;
  }

  .home_content {
    width: 1000px;
    margin: auto;
  }

  .home_article {
    width: 450px;
  }
}

@media screen and (max-width: 1000px) {
  .home_content {
    width: 768px;
    margin: auto;
  }

  .home_article {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  /* Header */
  .header_left {
    display: none;
  }

  .header_right {
    margin: auto;
    float: none;
    width: 100%;
    text-align: center;
  }

  .header_right a, .header_left a {
    padding: 0;
  }

  .header_right a:nth-child(1) {
    margin-right: 40px;
  }

  .header_right a:nth-child(2) {
    margin-right: 40px;
  }

  .header_right a:nth-child(3) {
    margin-right: 40px;
  }

  .header_right a:nth-child(4) {
    margin-right: 0;
    padding: 0;
    box-shadow: none;
    font-style: normal;
    color: #a8a8a8;
  }

  .header_right a:nth-child(4):hover {
    color: rgba(50, 50, 50);
    text-decoration: underline;
    background: none;
  }

  /* Login */
  #login_container {
    margin: auto;
    padding: 50px 0 0 0;
    width: 300px;
  }

  #login_container form input[type=text], #login_container form input[type=password], #login_container form input[type=url] {
    width: 95%;
  }

  #error_message {
    width: 400px;
    text-align: center;
    margin: -18px auto -18px auto;
  }

  textarea {
    width: 95%;
  }

  /* Posts */
  .post {
    width: 450px;
    padding: 10px;
  }

  .info_table tr th {
    padding: 15px 35px 5px 35px;
  }

  .post hr {
    width: 82%;
  }

  /* edit post buttons */
  #edit_div_container {
    margin-bottom: 25px;
  }

  /* Create account */
  #create_acc_link {
    margin-top: 0.75em;
  }

  /* Home */
  .home_content {
    width: 450px;
    margin: auto;
  }

  .home_article {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0;
  }

  .home_h3 {
    text-align: center;
    margin-top: 75px;
  }

  .seperate_color {
    padding: 20px 0 20px 0;
  }

  .seperate_color .post {
    margin: 0 auto 0 auto;
  }

  .home_article:nth-child(1), .home_article:nth-child(2) {
    float: none;
  }
}
