body {
  min-width: 500px;
  margin: 0;
  padding-bottom: 25px;
}

/* Header */
header {
  height: 4em;
  max-width: 1280px;
  margin: auto;
}

.header_right a, .header_left a {
  text-decoration: none;
  color: #a8a8a8;
  margin-right: 25px;
  font-size: 1.20em;
}

.header_right a:hover, .header_left a:hover {
  color: rgba(50, 50, 50);
  text-decoration: underline;
}

a:nth-child(4) {
  color: rgba(195, 195, 195);
  font-style: italic;
  box-shadow: 1px 0px 5px #a8a8a8;
  padding: 5px 8px 5px 8px;
}

a:nth-child(4):hover {
  color: white;
  background-color: #a8a8a8;
  text-decoration: none;
}

.header_left h3 {
  margin: 0;
  padding-left: 25px;
}

.header_right, .header_left {
  height: 100%;
  padding-top: 1.25em;
}

.header_left {
  float: left;
  width: 50%;
}

.header_right {
  float: right;
  width: 50%;
  text-align: right;
}

.content {
  max-width: 1280px;
  margin: auto;
}

/* Jumbo */
.jumbotron {
  background-image: url(/images/placeholder_1.jpg);
  height: 10em;
  width: 1280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  color: white;
  font-size: 5em;
  user-select: none;
}


/* login */
#login_container {
  padding: 50px 0 0 75px;
  max-width: 400px;
  overflow: hidden;
}

#login_container form input[type=text], #login_container form input[type=password]  {
  width: 97.5%;
  border: 0;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  padding: 7px;
}

#login_container form input[type=submit] {
  margin-top: 12px;
  float: right;
  border: 1px solid #eee;
  padding: 10px 15px 10px 15px;
}

#jumbo_btn_left {
  text-align: left;
  float: left;
}

#jumbo_btn_right {
  text-align: right;
  float: right;
}

#jumbo_btn_left, #jumbo_btn_right {
  margin-top: 4em;
  width: 1em;
  color: rgba(255, 255, 255, 0.3);
}

#jumbo_btn_left:hover, #jumbo_btn_right:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

/* posts */
.post {
  width: 675px;
  margin: auto;
  padding: 25px;
  margin-top: 50px;
  box-shadow: 0px 0px 5px 2px #eee;
  border-radius: 10px;
}

.post table {
  width: 100%;
}

.info_table tr th:nth-child(1) {
  text-align: left;
}

.info_table tr th:nth-child(2) {
  text-align: right;
}

.info_table tr:nth-child(2) td {
  padding: 30px 40px 0 40px;
  font-weight: bold;
}

.post_table tr:nth-child(1) td {
  padding: 15px 40px 40px 40px;
}

.post hr {
  border: 0;
  border-top: 1px solid #eee;
  width: 88%;
}

.post:hover {
  background-color: rgba(238, 238, 238, 0.5);
  cursor: pointer;

}

/* Responsive stuff */
@media screen and (max-width: 1280px) {
  .jumbotron {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  /* Header */
  .header_left {
    display: none;
  }

  .header_right {
    margin: auto;
    float: none;
    width: 100%;
    text-align: center;
  }

  .header_right a, .header_left a {
    padding: 0;
  }

  .header_right a:nth-child(1) {
    margin-right: 40px;
  }

  .header_right a:nth-child(2) {
    margin-right: 40px;
  }

  .header_right a:nth-child(3) {
    margin-right: 40px;
  }

  .header_right a:nth-child(4) {
    margin-right: 0;
    padding: 0;
    box-shadow: none;
    font-style: normal;
    color: #a8a8a8;
  }

  a:nth-child(4):hover {
    color: rgba(50, 50, 50);
    text-decoration: underline;
    background: none;
  }

  /* Login */
  #login_container {
    margin: auto;
    padding: 50px 0 0 0;
    width: 300px;
  }

  #login_container form input[type=text], #login_container form input[type=password] {
    width: 95%;
  }

  .post {
    width: 450px;
    padding: 10px;
  }

  .info_table tr th {
    padding: 15px 35px 5px 35px;
  }

  .post hr {
    width: 82%;
  }
}
